<div class="container content">
  <div class="page-header">
    <div style="float: right;">
      <select (change)="translate.use($event.target.value)">
        <option value="es">Español</option>
        <option value="fr">France</option>
        <option value="en">English</option>
      </select>
    </div>
    <div class="container">
      <h1>Ruteo Simple</h1>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/destino']">Destino</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/reservas']">reservas</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>


    <div class="row">
      {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
    </div>

    <router-outlet></router-outlet>
</div>

<hr class="mb-5">

<div class="container text-center">

  Fecha: {{ time | async }}
</div>

